<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
            <div class="uk-width-large-7-10">
                <div class="md-card">
                    <div class="user_heading">
                        <div class="user_heading_menu hidden-print">
                            <div class="uk-display-inline-block" data-uk-dropdown="{pos:'left-top'}">
                                <i class="md-icon material-icons md-icon-light">&#xE5D4;</i>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav">
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 2</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-display-inline-block"><i class="md-icon md-icon-light material-icons" id="page_print">&#xE8ad;</i></div>
                        </div>
                        <div class="user_heading_avatar">
                            <div class="thumbnail">
                                <img src="/assets/img/avatars/avatar_11.png" alt="user avatar" />
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b uk-margin-bottom"><span class="uk-text-truncate">Elisa Hackett</span><span class="sub-heading">Land acquisition specialist</span></h2>
                            <ul class="user_stats">
                                <li>
                                    <h4 class="heading_a">2391 <span class="sub-heading">Posts</span></h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">120 <span class="sub-heading">Photos</span></h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">284 <span class="sub-heading">Following</span></h4>
                                </li>
                            </ul>
                        </div>
                        <a class="md-fab md-fab-small md-fab-accent hidden-print" href="page_user_edit.html">
                            <i class="material-icons">&#xE150;</i>
                        </a>
                    </div>
                    <div class="user_content">
                        <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                            <li class="uk-active"><a href="#">About</a></li>
                            <li><a href="#">Photos</a></li>
                            <li><a href="#">Posts</a></li>
                        </ul>
                        <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                Ut dolor ut neque omnis dolorem numquam et et nemo est inventore necessitatibus tenetur id voluptatum dolore voluptatem quis enim aperiam autem eos fuga facere magnam occaecati aut sed nihil et fugiat voluptas nobis et ullam enim nulla optio rerum ea beatae quis sed expedita incidunt architecto mollitia qui impedit error doloremque optio magnam dolorem corporis omnis soluta beatae in est voluptatum ad aperiam qui aliquid occaecati ad cupiditate praesentium nam ab totam reprehenderit cumque minus et sed totam.                                    <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                    <div class="uk-width-large-1-2">
                                        <h4 class="heading_c uk-margin-small-bottom">Contact Info</h4>
                                        <ul class="md-list md-list-addon">
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">fay34@rippin.com</span>
                                                    <span class="uk-text-small uk-text-muted">Email</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">(071)017-7558</span>
                                                    <span class="uk-text-small uk-text-muted">Phone</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">facebook.com/envato</span>
                                                    <span class="uk-text-small uk-text-muted">Facebook</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">twitter.com/envato</span>
                                                    <span class="uk-text-small uk-text-muted">Twitter</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-large-1-2">
                                        <h4 class="heading_c uk-margin-small-bottom">My groups</h4>
                                        <ul class="md-list">
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a href="#">Cloud Computing</a></span>
                                                    <span class="uk-text-small uk-text-muted">84 Members</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a href="#">Account Manager Group</a></span>
                                                    <span class="uk-text-small uk-text-muted">21 Members</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a href="#">Digital Marketing</a></span>
                                                    <span class="uk-text-small uk-text-muted">44 Members</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a href="#">HR Professionals Association - Human Resources</a></span>
                                                    <span class="uk-text-small uk-text-muted">259 Members</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h4 class="heading_c uk-margin-bottom">Timeline</h4>
                                <div class="timeline">
                                    <div class="timeline_item">
                                        <div class="timeline_icon timeline_icon_success"><i class="material-icons">&#xE85D;</i></div>
                                        <div class="timeline_date">
                                            09 <span>Oct</span>
                                        </div>
                                        <div class="timeline_content">Created ticket <a href="#"><strong>#3289</strong></a></div>
                                    </div>
                                    <div class="timeline_item">
                                        <div class="timeline_icon timeline_icon_danger"><i class="material-icons">&#xE5CD;</i></div>
                                        <div class="timeline_date">
                                            15 <span>Oct</span>
                                        </div>
                                        <div class="timeline_content">Deleted post <a href="#"><strong>Et quia nisi omnis.</strong></a></div>
                                    </div>
                                    <div class="timeline_item">
                                        <div class="timeline_icon"><i class="material-icons">&#xE410;</i></div>
                                        <div class="timeline_date">
                                            19 <span>Oct</span>
                                        </div>
                                        <div class="timeline_content">
                                            Added photo
                                            <div class="timeline_content_addon">
                                                <img src="/assets/img/gallery/Image16.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_item">
                                        <div class="timeline_icon timeline_icon_primary"><i class="material-icons">&#xE0B9;</i></div>
                                        <div class="timeline_date">
                                            21 <span>Oct</span>
                                        </div>
                                        <div class="timeline_content">
                                            New comment on post <a href="#"><strong>Autem temporibus reprehenderit aspernatur illum.</strong></a>
                                            <div class="timeline_content_addon">
                                                <blockquote>
                                                    Neque omnis rerum dignissimos qui odio sunt nesciunt quos aut similique sint sunt quo at accusantium tempora dolores culpa omnis omnis ut accusamus et error consequatur.&hellip;
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_item">
                                        <div class="timeline_icon timeline_icon_warning"><i class="material-icons">&#xE7FE;</i></div>
                                        <div class="timeline_date">
                                            29 <span>Oct</span>
                                        </div>
                                        <div class="timeline_content">
                                            Added to Friends
                                            <div class="timeline_content_addon">
                                                <ul class="md-list md-list-addon">
                                                    <li>
                                                        <div class="md-list-addon-element">
                                                            <img class="md-user-image md-list-addon-avatar" src="/assets/img/avatars/avatar_02_tn.png" alt="" />
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">Carmela Lindgren</span>
                                                            <span class="uk-text-small uk-text-muted">Ut sit commodi ratione blanditiis.</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="user_profile_gallery" data-uk-check-display class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid="{gutter: 4}">
                                    <div>
                                        <a href="/assets/img/gallery/Image01.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image01.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image02.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image02.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image03.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image03.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image04.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image04.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image05.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image05.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image06.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image06.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image07.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image07.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image08.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image08.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image09.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image09.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image10.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image10.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image11.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image11.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image12.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image12.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image13.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image13.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image14.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image14.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image15.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image15.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image16.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image16.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image17.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image17.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image18.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image18.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image19.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image19.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image20.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image20.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image21.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image21.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image22.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image22.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image23.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image23.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/assets/img/gallery/Image24.jpg" data-uk-lightbox="{group:'user-photos'}">
                                            <img src="/assets/img/gallery/Image24.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <ul class="uk-pagination uk-margin-large-top">
                                    <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                    <li class="uk-active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><span>&hellip;</span></li>
                                    <li><a href="#">20</a></li>
                                    <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                                </ul>
                            </li>
                            <li>
                                <ul class="md-list">
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Nemo dolorem veniam voluptas aut.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">28 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">1</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">615</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Dolor aliquid atque aliquam odit libero minus.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">07 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">12</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">926</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Qui vel magnam sit.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">13 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">28</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">152</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Velit qui ut et quo mollitia.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">16 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">8</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">177</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Deleniti quibusdam ut dolor sunt laborum.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">27 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">4</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">818</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Laboriosam voluptatum ab qui dolorum maxime.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">15 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">14</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">804</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Maxime doloremque numquam consequatur.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">03 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">16</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">300</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Esse sit cupiditate eos.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">07 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">24</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">584</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Consequatur cum sunt magni a rerum voluptatem.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">08 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">12</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">612</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Asperiores maxime vel et quia veniam possimus molestias aut.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">15 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">13</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">719</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Iste perspiciatis rerum voluptate et aut praesentium rerum sit.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">11 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">12</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">741</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Rerum omnis et sint exercitationem facere pariatur voluptatem.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">27 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">18</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">219</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Ut natus quo sunt laboriosam aut voluptates vero.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">25 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">1</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">197</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Molestias qui omnis quia.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">27 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">16</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">451</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Vel pariatur consequuntur eligendi eveniet quas nihil cumque.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">29 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">13</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">571</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Excepturi ut quisquam officia voluptatem possimus est rerum.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">23 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">26</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">104</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Provident in autem eius sed id.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">17 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">28</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">618</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Eos quia hic laborum enim facere non impedit.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">23 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">5</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">457</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Dolores et explicabo veritatis quaerat suscipit facilis.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">10 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">11</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">832</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-content">
                                            <span class="md-list-heading"><a href="#">Pariatur quaerat quae reiciendis tenetur nihil similique.</a></span>
                                            <div class="uk-margin-small-top">
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small">26 Oct 2016</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small">25</span>
                                                </span>
                                                <span class="uk-margin-right">
                                                    <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">340</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-large-3-10 hidden-print">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-margin-medium-bottom">
                            <h3 class="heading_c uk-margin-bottom">Alerts</h3>
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons uk-text-warning">&#xE8B2;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Delectus modi.</span>
                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Est ut ut et velit.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons uk-text-success">&#xE88F;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Libero et.</span>
                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Incidunt repellendus ipsum neque aspernatur.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons uk-text-danger">&#xE001;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Facere ex.</span>
                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Doloremque voluptatem voluptas accusamus rerum.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <h3 class="heading_c uk-margin-bottom">Friends</h3>
                        <ul class="md-list md-list-addon uk-margin-bottom">
                            <li>
                                <div class="md-list-addon-element">
                                    <img class="md-user-image md-list-addon-avatar" src="/assets/img/avatars/avatar_02_tn.png" alt="" />
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Jovani Kris MD</span>
                                    <span class="uk-text-small uk-text-muted">Molestias magni ab aut quisquam enim.</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <img class="md-user-image md-list-addon-avatar" src="/assets/img/avatars/avatar_07_tn.png" alt="" />
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Emelie Hand</span>
                                    <span class="uk-text-small uk-text-muted">Quia ratione totam hic.</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <img class="md-user-image md-list-addon-avatar" src="/assets/img/avatars/avatar_06_tn.png" alt="" />
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Prof. Mary Pfannerstill</span>
                                    <span class="uk-text-small uk-text-muted">Quia et nemo sit.</span>
                                </div>
                            </li>
                        </ul>
                        <a class="md-btn md-btn-flat md-btn-flat-primary" href="#">Show all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
