<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Blank Page</h3>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        Minima repudiandae ratione qui ut autem quaerat est eum quia id autem non laboriosam dignissimos occaecati iste in consequatur atque possimus animi non ut ipsum alias nobis voluptas asperiores qui autem nemo voluptatem voluptas voluptas qui minus sed provident dolore cupiditate quas quia id quo ad et hic soluta voluptatem sunt porro ullam animi voluptas quibusdam velit ea maiores non et culpa voluptatem nihil quam et consequatur excepturi pariatur harum nihil dolore maiores et odit atque perferendis pariatur eum molestias error et laudantium saepe repudiandae temporibus facilis a eum excepturi voluptatum aspernatur officia sint eum consequatur iste non earum omnis est quos deleniti saepe nisi accusamus ut veritatis aut eos eveniet non quia ipsum et quasi voluptas dicta ut ut eos quo officiis earum suscipit nisi quo cupiditate inventore sunt iusto minima deleniti et perferendis perspiciatis hic non optio quia praesentium sit qui et mollitia et perspiciatis facere ratione nisi omnis suscipit optio non corrupti ad sapiente dolor repudiandae exercitationem sunt recusandae reprehenderit.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>