<div id="menu_top_dropdown" class="uk-float-left uk-hidden-small">
    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
        <a href="#" class="top_menu_toggle"><i class="material-icons md-24">&#xE8F0;</i></a>
        <div class="uk-dropdown uk-dropdown-width-3">
            <div class="uk-grid uk-dropdown-grid">
                <div class="uk-width-2-3">
                    <div class="uk-grid uk-grid-width-medium-1-3 uk-margin-bottom uk-text-center">
                        <a asp-controller="Cliente" asp-action="Index" class="uk-margin-top">
                            <i class="icone-padrao icone-clientes"></i>
                            <span class="uk-text-muted uk-display-block">Clientes</span>
                        </a>
                        <a asp-controller="Compra" asp-action="Index" class="uk-margin-top">
                            <i class="icone-padrao icone-compras"></i>
                            <span class="uk-text-muted uk-display-block">Compras</span>
                        </a>
                        <a asp-controller="Produto" asp-action="Index" class="uk-margin-top">
                            <i class="icone-padrao icone-produtos"></i>
                            <span class="uk-text-muted uk-display-block">Produtos</span>
                        </a>
                        <a asp-controller="Venda" asp-action="Index" class="uk-margin-top">
                            <i class="icone-padrao icone-vendas"></i>
                            <span class="uk-text-muted uk-display-block">Vendas</span>
                        </a>
                        <a asp-controller="Financeiro" asp-action="Index" class="uk-margin-top">
                            <i class="icone-padrao icone-financeiro"></i>
                            <span class="uk-text-muted uk-display-block">Financeiro</span>
                        </a>
                        <a asp-controller="Relatorio" asp-action="Index" class="uk-margin-top">
                            <i class="icone-padrao icone-relatorios"></i>
                            <span class="uk-text-muted uk-display-block">Relatórios</span>
                        </a>
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <ul class="uk-nav uk-nav-dropdown uk-panel">
                        <li class="uk-nav-header">Components</li>
                        <li><a href="components_accordion.html">Accordions</a></li>
                        <li><a href="components_buttons.html">Buttons</a></li>
                        <li><a href="components_notifications.html">Notifications</a></li>
                        <li><a href="components_sortable.html">Sortable</a></li>
                        <li><a href="components_tabs.html">Tabs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
