    <!-- main sidebar -->
<aside id="sidebar_main">

    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <a href="index.html" class="sSidebar_hide sidebar_logo_large">
                <img class="logo_regular" src="/assets/img/logo_main.png" alt="" height="15" width="71" />
                <img class="logo_light" src="/assets/img/logo_main_white.png" alt="" height="15" width="71" />
            </a>
            <a href="index.html" class="sSidebar_show sidebar_logo_small">
                <img class="logo_regular" src="/assets/img/logo_main_small.png" alt="" height="32" width="32" />
                <img class="logo_light" src="/assets/img/logo_main_small_light.png" alt="" height="32" width="32" />
            </a>
        </div>
        <div class="sidebar_actions">
            <select id="lang_switcher" name="lang_switcher">
                <option value="gb" selected>English</option>
            </select>
        </div>
    </div>

    <div class="menu_section">
        <ul>
            <li title="Dashboard">
                <a href="index.html">
                    <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                    <span class="menu_title">Dashboard</span>
                </a>
            </li>
            <li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="icone-padrao icone-pequeno icone-clientes-333"></i></span>
                    <span class="menu_title">Clientes</span>
                </a>
            </li>
            <li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="icone-padrao icone-pequeno icone-compras-333"></i></span>
                    <span class="menu_title">Compras</span>
                </a>
                <ul>
                    <li><a href="forms_regular.html">Pedidos de compra</a></li>
                    <li class="menu_subtitle">CADASTROS</li>
                    <li><a href="forms_wysiwyg_ckeditor.html">Categoria da compra</a></li>
                </ul>
            </li>
            <li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="icone-padrao icone-pequeno icone-produtos-333"></i></span>
                    <span class="menu_title">Produtos</span>
                </a>
                <ul>
                    <li><a href="forms_regular.html">Estoque</a></li>
                    <li class="menu_subtitle">CADASTROS</li>
                    <li><a href="forms_wysiwyg_ckeditor.html">Fornecedores</a></li>
                    <li><a href="forms_wysiwyg_ckeditor.html">Categoria do produto</a></li>
                </ul>
            </li>
            <li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="icone-padrao icone-pequeno icone-vendas-333"></i></span>
                    <span class="menu_title">Vendas</span>
                </a>
                <ul>
                    <li><a href="forms_regular.html">Pedidos de venda</a></li>
                    <li><a href="forms_regular.html">Ordem de serviço</a></li>
                    <li><a href="forms_regular.html">Orçamento</a></li>
                    <li><a href="forms_regular.html">Contratos</a></li>
                    <li class="menu_subtitle">CADASTROS</li>
                    <li><a href="forms_wysiwyg_ckeditor.html">Transportadoras</a></li>
                    <li><a href="forms_wysiwyg_ckeditor.html">Tipos de serviço</a></li>
                </ul>
            </li>
            <li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="icone-padrao icone-pequeno icone-financeiro-333"></i></span>
                    <span class="menu_title">Financeiro</span>
                </a>
                <ul>
                    <li><a href="forms_regular.html">Contas a pagar</a></li>
                    <li><a href="forms_regular.html">Contas a receber</a></li>
                </ul>
            </li>
            <li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="icone-padrao icone-pequeno icone-relatorios-333"></i></span>
                    <span class="menu_title">Relatórios</span>
                </a>
                <ul>
                    <li><a href="forms_regular.html">Vendas total</a></li>
                    <li><a href="forms_regular.html">Vendas por cliente</a></li>
                    <li><a href="forms_regular.html">Vendas por vendedor</a></li>
                    <li><a href="forms_regular.html">Itens mais vendidos</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside><!-- main sidebar end -->
